*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: rgb(213, 81, 81);
    margin-top: 20px;
    margin-left: 45%;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(213, 81, 81);
    margin-top: 20px;
    margin-left: 45%;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(213, 81, 81);
    margin-top: 20px;
    margin-left: 45%;
}